{% extends 'base.html.twig' %}

{% block title %}New computer{% endblock %}

{% block body %}
    <h1 class="text-center">Crée une nouvelle  computer</h1>

    {{ include('computer/_form.html.twig') }}

    <a href="{{ path('app_computer_index') }}">back to list</a>
{% endblock %}
